.mainContainer {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  display: -webkit-flex;
  flex-flow: column;
  min-height: 100%; }
  .mainContainer .topLogo {
    height: 110px !important;
    width: 100%;
    background: #B31718; }
  .mainContainer .header {
    height: 60px !important;
    max-height: 60px;
    width: 100%;
    background: #9F1517;
    color: white; }
  .mainContainer .pageContent {
    min-height: calc(100% - 60px);
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding: 0 30px; }
    @media only screen and (min-width: 1200px) {
      .mainContainer .pageContent {
        max-width: 1100px;
        width: 1100px; } }

.topMenu {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-flex;
  flex-flow: row;
  padding: 0 30px;
  border-bottom: 1px solid #c1c1c1; }
  .topMenu .icon {
    font-size: 25px;
    line-height: 60px;
    cursor: pointer; }
  .topMenu ul {
    display: none;
    flex-flow: row;
    padding: 0;
    max-width: 970px;
    width: 970px;
    padding-right: 40px;
    margin: 0 auto;
    height: 100%; }
    @media only screen and (min-width: 768px) {
      .topMenu ul {
        display: -webkit-flex;
        flex-flow: row wrap;
        justify-content: space-between; } }
    @media only screen and (min-width: 1200px) {
      .topMenu ul {
        max-width: 1100px;
        width: 1100px; } }
    .topMenu ul li {
      line-height: 60px;
      display: inline;
      padding: 0 20px;
      font-size: 16px;
      height: 60px;
      font-weight: 500; }
      .topMenu ul li:hover {
        border-bottom: 4px solid white; }
      .topMenu ul li a {
        display: block;
        color: white !important;
        height: 100%;
        width: 100%; }
  .topMenu .searchFormHeader {
    background-color: #9F1517;
    position: absolute;
    left: calc(100% - 80px);
    padding: 0 28px 0 0;
    top: 123px;
    line-height: 20px;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: flex-start;
    z-index: 3;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .topMenu .searchFormHeader.visible {
      width: 100%;
      left: 0;
      padding-left: 30px; }
    .topMenu .searchFormHeader input {
      height: 35px;
      padding-left: 15px;
      margin-left: 10px;
      border: 1px solid #c1c1c1;
      border-radius: 5px;
      font-size: 16px;
      display: none; }
      .topMenu .searchFormHeader input.visible {
        flex-grow: 1;
        display: block; }
    .topMenu .searchFormHeader .searchIcon {
      background-color: #B31718;
      cursor: pointer;
      width: 50px;
      height: 41px;
      font-size: 18px;
      padding: 0 7px;
      border-radius: 5px;
      margin-top: -2px; }
      .topMenu .searchFormHeader .searchIcon span {
        margin-left: 8px;
        line-height: 40px; }

.sideMenu {
  position: fixed;
  top: 170px;
  left: -305px;
  width: 300px;
  height: calc(100% - 170px);
  z-index: 2;
  overflow-y: auto;
  -webkit-transition: transform 500ms cubic-bezier(0.565, 1.65, 0.765, 0.88);
  -moz-transition: transform 500ms cubic-bezier(0.565, 1.65, 0.765, 0.88);
  -o-transition: transform 500ms cubic-bezier(0.565, 1.65, 0.765, 0.88);
  -ms-transition: transform 500ms cubic-bezier(0.565, 1.65, 0.765, 0.88);
  transition: transform 500ms cubic-bezier(0.565, 1.65, 0.765, 0.88);
  background-color: white;
  -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.176);
  -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.176);
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.176); }
  .sideMenu.visible {
    transform: translate3d(305px, 0, 0); }
  .sideMenu ul {
    padding: 0;
    width: 100%;
    margin: 0; }
    .sideMenu ul li {
      width: 100%;
      text-decoration: none;
      list-style-type: none; }
      .sideMenu ul li:hover {
        background-color: rgba(0, 0, 0, 0.176); }
        .sideMenu ul li:hover span {
          transform: rotate(-90deg);
          transition: transform 0.2s ease; }
        .sideMenu ul li:hover ul {
          max-height: 1000px;
          height: 100%;
          overflow: hidden; }
      .sideMenu ul li span {
        position: relative;
        float: right;
        line-height: 50px;
        right: 30px;
        font-size: 16px;
        transition: transform 0.2s ease;
        color: black; }
      .sideMenu ul li a {
        display: block;
        padding-left: 30px;
        height: 50px;
        width: 100%;
        line-height: 50px;
        font-size: 15px;
        font-weight: 500; }
        .sideMenu ul li a:hover {
          background-color: rgba(0, 0, 0, 0.176); }
      .sideMenu ul li ul {
        margin-left: 20px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out; }
        .sideMenu ul li ul li {
          position: relative; }

.categoryMain {
  width: 100%; }
  .categoryMain article {
    padding-bottom: 15px;
    border-bottom: 1px solid #D6D6D6;
    padding-right: 15px;
    display: flex;
    flex-flow: row; }
  .categoryMain-image {
    width: 100%;
    padding-top: 8px; }
  .categoryMain-data {
    width: 100%;
    padding: 0 15px;
    margin: 0; }
    .categoryMain-data h1 {
      margin: 0;
      font-size: 25px;
      color: #5D5D5D; }
    .categoryMain-data p {
      font-size: 15px;
      font-weight: normal;
      text-align: justify;
      color: #505050; }
  @media only screen and (min-width: 971px) {
    .categoryMain {
      width: 66.66%; }
      .categoryMain-image {
        width: 33.34%; }
      .categoryMain-data {
        width: 66.66%; } }

.singleContainer {
  width: 100%; }
  @media only screen and (min-width: 971px) {
    .singleContainer {
      display: flex;
      flex-flow: row;
      justify-content: space-between; } }

.singleMain {
  width: 100%; }
  .singleMain h1 {
    font-size: 32px;
    margin-bottom: 10px; }
  @media only screen and (min-width: 971px) {
    .singleMain {
      width: 66.66%; } }
  .singleMain-header {
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 20px; }
    .singleMain-header-bottom {
      display: flex;
      flex-flow: row;
      height: 40px;
      color: #605050; }
      .singleMain-header-bottom-time {
        width: 50%;
        line-height: 60px;
        font-size: 11px; }
        @media only screen and (min-width: 480px) {
          .singleMain-header-bottom-time {
            font-size: 14px; } }
        .singleMain-header-bottom-time i {
          margin-right: 10px; }
      .singleMain-header-bottom-social {
        width: 50%;
        line-height: 50px; }
        .singleMain-header-bottom-social .ssba img {
          width: 25px !important; }
          @media only screen and (min-width: 480px) {
            .singleMain-header-bottom-social .ssba img {
              width: 35px !important; } }
  .singleMain-image {
    margin-top: 20px; }
  .singleMain-content {
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D6D6; }
  .singleMain-info {
    font-size: 15px;
    font-weight: normal; }
    .singleMain-info-share {
      font-weight: bold;
      font-size: 20px;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #D6D6D6; }
      .singleMain-info-share .ssba {
        margin-top: 5px; }
        .singleMain-info-share .ssba div[style] {
          text-align: left !important; }
    .singleMain-info-tags {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #D6D6D6; }
      .singleMain-info-tags span {
        display: block;
        font-size: 18px;
        margin-bottom: 10px; }
      .singleMain-info-tags a {
        display: inline-block;
        padding: 10px;
        background-color: #B31718;
        text-align: center;
        color: white; }
        .singleMain-info-tags a:hover {
          background-color: #9F1517; }

.singleSideBar {
  width: 100%; }
  @media only screen and (min-width: 971px) {
    .singleSideBar {
      width: 33.33%; } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL2Nzcy9tYWluLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/