.category-title
  font-size: 40px

.categoryHeaderMenu
  border-bottom: 1px solid #D6D6D6
  border-top: 1px solid #D6D6D6

  & ul
    display: flex
    flex-flow: row
    padding: 0
    & li
      font-weight: normal
      font-size: 16px
      list-style: none
      margin: 5px 15px
    & li:first-child
      margin-left: 0


.categoryContainer
    padding-top: 20px
    width: 100%
    @media only screen and (min-width: $BREAK_POINT_MID)
      display: flex
      flex-wrap: wrap

.categoryMain
  width: 100%
  @media only screen and (min-width: $BREAK_POINT_MID)
    display: inline-block
    width: 70%
  & article
    padding-bottom: 15px
    border-bottom: 1px solid #D6D6D6
    padding-right: 15px
    display: flex
    flex-flow: row
  &-image
    width: 100%
    padding-top: 8px
  &-data
    width: 100%
    padding: 0 15px
    margin: 0
    & h1
      margin: 0
      font-size: 25px
      color: #5D5D5D
    & p
      font-size: 15px
      font-weight: normal
      text-align: justify
      color: #505050
  @media only screen and (min-width: 971px)
    width: 66.66%
    &-image
      width: 33.34%
    &-data
      width: 66.66%
  & .pagination
    padding-top: 20px
    text-align: center
    font-size: 16px
    & span
      padding: 10px
      display: inline-block
      font-weight: normal
    & a
      display: inline-block
      padding: 10px
      color: blue
      font-weight: normal
      &:hover
        color: red

.categorySideBar
  width: 100%
  padding-left: 20px
  display: block
  margin-top: 20px
  @media only screen and (min-width: $BREAK_POINT_MID)
    display: block
    width: 30%
    margin-top: 0
