.ssba img
  width: 35px !important
  padding: 6px
  border: 0
  box-shadow: none !important
  display: inline !important
  vertical-align: middle
  box-sizing: unset


.singleContainer
  padding-top: 0
  width: 100%
  @media only screen and (min-width: $BREAK_POINT_MID)
    display: flex
    flex-wrap: wrap
    padding-top: 20px

.singleMain
  width: 100%
  & h1
    font-size: 32px
    margin-bottom: 10px
    margin-top: 0
  @media only screen and (min-width: $BREAK_POINT_MID)
    width: 70%
  &-header
    border-bottom: 1px solid #D6D6D6
    padding-bottom: 20px
    &-bottom
      display: flex
      flex-flow: row
      height: 40px
      color: #605050
      &-time
        width: 50%
        line-height: 60px
        font-size: 11px
        @media only screen and (min-width: 480px)
          font-size: 14px
        & i
          margin-right: 10px
      &-social
        width: 50%
        line-height: 50px
        & .ssba img
          width: 25px !important
          @media only screen and (min-width: 480px)
            width: 35px !important

  &-image
    margin-top: 20px
  &-content
    text-align: justify
    font-size: 16px
    font-weight: normal
    padding-bottom: 20px
    border-bottom: 1px solid #D6D6D6
  &-info
    font-size: 15px
    font-weight: normal
    &-author
      margin-top: 20px
      padding-bottom: 20px
      border-bottom: 1px solid #D6D6D6
      font-size: 16px
      font-weight: bold
      &-date
        margin-top: 5px
        font-weight: normal
        font-size: 14px
        & i
          margin-right: 10px
    &-share
      font-weight: bold
      font-size: 25px
      margin-top: 20px
      padding-bottom: 20px
      border-bottom: 1px solid #D6D6D6
      & .ssba
        margin-top: 5px

        & div[style]
          text-align: left !important

    &-tags
      margin-top: 20px
      padding-bottom: 20px
      border-bottom: 1px solid #D6D6D6
      & span
        display: block
        font-size: 18px
        margin-bottom: 10px
      & a
        display: inline-block
        padding: 10px
        background-color: $PRIMARY_COLOR
        text-align: center
        color: white
        &:hover
          background-color: $SECONDARY_COLOR
    &-category
      margin-top: 20px
      padding-bottom: 20px
      border-bottom: 1px solid #D6D6D6
      & span
        display: block
        font-size: 18px
        margin-bottom: 10px
      & ul
        padding: 0
        & li
          margin-top: 2px
          display: inline-block
          list-style: none
          & a
            padding: 10px
            background-color: $PRIMARY_COLOR
            text-align: center
            color: white
            &:hover
              background-color: $SECONDARY_COLOR
    &-related
      & h1
        font-size: 25px
        font-weight: bold
      & ul
        padding: 0
        & li
          display: block
          list-style: none
          & h3
            font-size: 17px
            margin-bottom: 0
          & span
            font-size: 15px
            font-weight: 300


.singleSideBar
  width: 100%
  padding-left: 20px
  display: block
  margin-top: 20px
  @media only screen and (min-width: $BREAK_POINT_MID)
    display: block
    width: 30%
    margin-top: 0
