.singleMain
  width: 100%
  & h1
    font-size: 32px
  @media only screen and (min-width: 971px)
    width: 66.66%
  &-header
    border-bottom: 1px solid #D6D6D6
    padding-bottom: 20px
  &-image
    margin-top: 20px
  &-content
    text-align: justify
    font-size: 16px
    font-weight: normal
