.contactUsContainer
  & h1
    font-size: 30px
  & table
    max-width: 100%
    width: 100%
    & thead
      text-align: center
      background-color: black
      color: white
      font-size: 15px
      & tr
        & th
          padding: 15px
          &:first-child
            text-align: left
    & tbody
      font-size: 12px
      font-weight: normal
      & tr
        text-align: center
        border-bottom: 1px solid #CACACA
        & td
          padding: 15px
          &:first-child
            text-align: left
