
.recentBar
  margin: 20px 0
  height: 50px
  width: 100%
  border-top: 1px solid #cccc
  border-bottom: 1px solid #cccc


.homeBanner
  width: 100%
  padding: 20px 0
  overflow: hidden
  max-height: 140px
  & img
    max-height: 140px
    display: block
    margin: 0 auto

.homeContainer
  padding-top: 20px

  width: 100%
  @media only screen and (min-width: $BREAK_POINT_MID)
    display: flex
    flex-wrap: wrap

.homeMain
  width: 100%
  @media only screen and (min-width: $BREAK_POINT_MID)
    display: inline-block
    width: 70%
.homeSideBar
  width: 100%
  padding-left: 20px
  display: block
  margin-top: 20px
  @media only screen and (min-width: $BREAK_POINT_MID)
    margin-top: 0
    display: block
    width: 30%

.homeMain-featured
  padding: 0
  margin: 0
  border-bottom: 1px solid #D6D6D6
  padding-bottom: 30px
  & h1
    font-size: 30px
    margin-bottom: 10px
    margin-top: 0
    & a
      color: #686868
  &-container
    width: 100%
    display: flex
    flex-wrap: wrap
    &-image
      width: 100%
      @media only screen and (min-width: $BREAK_POINT_MID)
        width: 60%
    &-exerpt
      font-size: 15px
      font-weight: 400
      width: 100%
      text-align: justify
      @media only screen and (min-width: $BREAK_POINT_MID)
        width: 40%
      & p
        margin-top: 0
        padding-right: 20px
      & span
        font-size: 14px
      & i
        font-size: 14px

.homeMain-featuredSecond
  display: flex
  flex-flow: row
  justify-content: space-between
  margin-top: 30px
  border-bottom: 1px solid #D6D6D6
  padding-bottom: 30px
  @media only screen and (max-width: $BREAK_POINT_MIN)
    display: block
    padding-bottom: 0
  &-item
    display: block
    max-width: 30%
    @media only screen and (max-width: $BREAK_POINT_MIN)
      max-width: 100%
      padding-bottom: 30px
    &-image
      margin-bottom: 10px
    &-tittle
      height: 80px
      overflow: hidden
      @media only screen and (max-width: $BREAK_POINT_MIN)
        height: auto
        & h2
          margin-bottom: 0
    &-exerpt
      text-align: justify
      font-size: 12px
      font-weight: normal
    & span
      font-size: 12px
    & i
      margin-right: 5px
      font-size: 12px



.homeMain-brunca
  width: 100%
  border-bottom: 1px solid #D6D6D6
  padding-bottom: 30px
  & h1
    margin-bottom: 0
  &-posts
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    & article
      display: inline-block
      width: 100%
      @media only screen and (min-width: $BREAK_POINT_MIN)
        width: 45%
      @media only screen and (min-width: $BREAK_POINT_MID)
        width: 30%
    &-title
      height: 70px
      overflow: hidden

.homeMain-latestSix
  width: 100%
  border-bottom: 1px solid #D6D6D6
  padding-bottom: 30px
  margin-top: 30px
  &-posts
    & article
      margin-top: 20px
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      @media only screen and (min-width: $BREAK_POINT_MID)
        max-height: 120px
    &-image
      width: 30%
      overflow: hidden
      @media only screen and (min-width: $BREAK_POINT_MID)
        width: 200px
      & img
        min-width: 100%
        max-height: 100%
        @media only screen and (min-width: $BREAK_POINT_MID)
          margin: auto
          min-height: 100%

    &-data
      width: 70%
      padding-left: 30px
      @media only screen and (min-width: $BREAK_POINT_MID)
        flex-grow: 1
      & h3
        margin-top: 0
        font-size: 18px
      & span
        font-size: 13px
      & i
        font-size: 13px
